<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django File Upload</title>
  </head>
  <body>
    <a href="{% url 'upload_profile' %}">Upload Profile Picture</a>
    <a href="{% url 'view_profile' %}">View Profile Picture</a>

    <hr />

    {% if message %}
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %} 
    
    {% block content %} 
    {% endblock %}
  </body>
</html>
